.home {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  padding-top: 10rem;
  width: 100%;
}

.home__welcome {
  font-size: 2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  color: #343633;
  padding: 0 2rem;
}
