/* .my-story-content p {
  margin: 0;
  color: rgb(99, 99, 99);
}
h1 {
  margin: 0;
} */
/* .my-story-title h2 {
  margin: 0;
  padding: 0;
  text-align: left;
} */
/* .my-socmed-links {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.socmed-icons {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
span {
  font-weight: 750;
  color: rgb(0, 0, 0);
}
.content-container-myprofile {
  padding: 1rem 1rem 2rem 1rem;
}
.my-story {
  display: flex;
}
.my-story-title {
  padding: 0.5rem 0 0 0;
  margin: 0 0 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.my-profile {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
}
.my-profile-img {
  margin: 1rem;
  border-radius: 15px;
  width: 300px;
  height: auto;
}
.my-story-content-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.my-story-content {
  text-align: left;
}
@media (max-width: 450px) {
  .my-story {
    flex-direction: column;
    align-items: center;
  }
  .my-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
  }
  .my-story-content-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
} */
